Repository KLusvarghi/finance-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./scripts/lint-staged-eslint.sh

chore: update TypeScript configuration to change ESLint config file extension from .ts to .js and add Tailwind CSS plugin to Vite configuration
  apps/api/tsconfig.json
  apps/web/vite.config.ts
Due: prettier --write, ./scripts/lint-staged-eslint.sh

chore: update ESLint configuration by adding react-refresh plugin and ensuring consistent dependency versions
  config/eslint-config/package.json
Due: prettier --write

chore: update .gitignore to include pnpm-lock.yaml and remove duplicate entry
  .gitignore
Due: none

chore: remove backup pnpm-lock.yaml file to streamline project dependencies
  pnpm-lock.yaml.backup
Due: none

chore: remove pnpm-lock.yaml and .vscode/settings.json to declutter project configuration
  .vscode/settings.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: apps/api/**/*.ts) or (any of: apps/web/**/*.{ts,tsx})) or (any of: *.{ts,tsx})) or (any of: config/**/*.{js,jsx,ts,tsx})) or (any of: **/*.{json,md,yml,yaml})
  ./scripts/lint-staged-eslint.sh: (any of: apps/api/**/*.ts) or (any of: apps/web/**/*.{ts,tsx})
